<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coach courses</title>
    <link rel="stylesheet" href="../../static/css/blog.css">
    <link rel="Shortcut Icon" href="../../static/icon/index.ico" type="image/x-icon"/>
</head>
<body>
<div class="card-group">
    {% for item in course.items %}
        {% if loop.first %}
            <div class="card" id="coach1">
                <img src="{{ item.courseProfile }}" class="card-img-top" id="coursecover"/>
                <div class="card-body">
                    <p class="card-text">
                        <small class="text-muted"># {{ item.name }}</small>
                        <small class="text-muted">{{ item.start }} ~ {{ item.end }}</small>
                    </p>
                    <p class="card-text">
                        {{ item.description }}
                    </p>
                    <p class="card-text">
                        <video controls>
                            <source src="{{ item.video }}" type="video/mp4">
                        </video>
                    </p>
                    <a id="delete"
                       href="{{ url_for('DeleteCourse', target = item.id) }}">Cancel</a>
                </div>
            </div>
        {% elif loop.index == 2 %}
            <div class="card" id="coach">
                <img src="{{ item.courseProfile }}" class="card-img-top" id="coursecover"/>
                <div class="card-body">
                    <p class="card-text">
                        <small class="text-muted"># {{ item.name }}</small>
                        <small class="text-muted">{{ item.start }} ~ {{ item.end }}</small>
                    </p>
                    <p class="card-text">
                        {{ item.description }}
                    </p>
                    <p class="card-text">
                        <video controls>
                            <source src="{{ item.video }}" type="video/mp4">
                        </video>
                    </p>
                   <a id="delete"
                       href="{{ url_for('DeleteCourse', target = item.id) }}">Cancel</a>
                </div>
            </div>
        {% elif loop.last %}
            <div class="card" id="coach">
                <img src="{{ item.courseProfile }}" class="card-img-top" id="coursecover"/>
                <div class="card-body">
                    <p class="card-text">
                        <small class="text-muted"># {{ item.name }}</small>
                        <small class="text-muted">{{ item.start }} ~ {{ item.end }}</small>
                    </p>
                    <p class="card-text">
                        {{ item.description }}
                    </p>
                    <p class="card-text">
                        <video controls>
                            <source src="{{ item.video }}" type="video/mp4">
                        </video>
                    </p>
                    <a id="delete"
                       href="{{ url_for('DeleteCourse', target = item.id) }}">Cancel</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="center-block">
    {% for page_num in course.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if course.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('ShowCoachcourseInpage', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('ShowCoachcourseInpage', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>
</body>
</html>