<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <link rel="stylesheet" href="../../static/css/members.css">
</head>
<body>
<button class="btn btn-outline-info" id="add">
    <a id="delete" href="{{ url_for('addMember') }}">Add new members</a>
</button>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
        <th>Information</th>
        <th>Type</th>
        <th>Status</th>
        <th>Membership</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for member in members %}
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="{{ member.profile }}" class="rounded-circle"/>
                    <div class="ms-3">
                        <p class="fw-bold mb-1">{{ member.username }}</p>
                        <p class="text-light mb-1">{{ member.Email }}</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Customer</p>
                {% if member.sex == 0 %}
                    <p class="text-light mb-0">Gender: Unknown</p>
                {% elif member.sex == 1 %}
                    <p class="text-light mb-0">Gender: Male</p>
                {% elif member.sex == 2 %}
                    <p class="text-light mb-0">Gender: Female</p>
                {% endif %}
            </td>
            {% if member.log == 1 %}
                <td>
                    <span class="badge-success">Online</span>
                </td>
            {% elif member.log == 0 %}
                <td>
                    <span class="badge-warning">Offline</span>
                </td>
            {% endif %}
            {% if member.status == 0 %}
                <td>Free trial</td>
            {% elif member.status == 1 %}
                <td>Valid</td>
            {% elif member.status == 2 %}
                <td>Overdue</td>
            {% elif member.status == 3 %}
                <td>Frozen</td>
            {% endif %}
            <td>
                <form method="post" action="/Editmember">
                    <input name="target" id="target" value="{{ member.id }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.membership.label(class="form-control-label") }}
                        {{ form.membership(class="form-control form-control-lg") }}
                    </div>
                    {{ form.submit(class="btn btn-outline-info") }}
                </form>
                <button class="btn btn-outline-warning">
                    <a id="delete" href="{{ url_for('deleteMember', id = member.id) }}">Delete</a>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>