{% extends "index.html" %}
{% block manager %}
    <a class="list-group-item" data-addtab="Managers" data-url="../static/ajax/mailbox.txt">
        <i class="glyphicon glyphicon-user" id="icon"></i>Managers
    </a>
    <a class="list-group-item" data-addtab="Members" data-url="../static/ajax/mailbox.txt">
        <i class="glyphicon glyphicon-user" id="icon"></i>Members
    </a>
    <a class="list-group-item" data-addtab="Coches" data-url="../static/ajax/mailbox.txt">
        <i class="glyphicon glyphicon-user" id="icon"></i>Coches
    </a>
    <a class="list-group-item" data-addtab="Visuliaztion" data-url="../static/ajax/mailbox.txt">
        <i class="glyphicon glyphicon-stats" id="icon"></i>Visuliaztion
    </a>
{% endblock %}